*{
    border : 0px;
    padding : 0px;
    margin: 0px;
}

img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10vh;
    height: 10vh;
    z-index: 3;
}

li{
    background-color: #014040;
    border-radius: 20px;
    margin-bottom: 2vh;
}
li *{
    text-decoration: none;
}

body{
    background-color: #092b2b;
}

.header{
    z-index: 2;
    background-color: #014040;
    color: #ffffffb3;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: sticky;
    top: 0px;
    }

.navbar{
    z-index: 1;
    height: 100%;
    width: 20vh;
    background-color: #F2A30F;
    justify-content: left;
    align-items: space-between;
    padding: 20px 20px;
    position: fixed;
    top: 0px;
}

.centered-links{
    align-self:flex-start;
}

.container{
    display: flex;
    justify-self: right;
}